<article>
  <h2>{{@post.title}}</h2>
  <p class="excerpt">{{@post.body}}...</p>
  <p class="post-credit">
    {{#if this.isSingle}}
      <LinkTo @route="index">Edit Post</LinkTo>
    {{else}}
      <LinkTo @route="post">View Post</LinkTo>
    {{/if}}

    <span>{{@post.name}}</span>
    <!--
    <lib-time-ago [timestamp]="post.date" />
-->
  </p>
  -
  <!--
  <lib-reaction-buttons
    [post]="post"
    (newPost)="emitPost($event)"
  ></lib-reaction-buttons>
  -->
</article>