{{page-title "Blog"}}
<header class="header">
  <h1>Redux Blog</h1>
  <nav>
    <ul>
      <li>
        <LinkTo @route="index">Home</LinkTo>
      </li>
      <li>
        <LinkTo @route="post.index">Post</LinkTo>
      </li>
    </ul>
  </nav>
</header>
<main class="App">
  {{outlet}}
</main>