{{page-title "Blog"}}
<header class="header">
  <h1>Redux Blog</h1>
  <nav>
    <ul>
      <li>
        <a routerLink="/">Home</a>
      </li>
      <li>
        <a routerLink="/post">Post</a>
      </li>
    </ul>
  </nav>
</header>
<main class="App">
  {{outlet}}
</main>